OPC_App/Kepware_NodeRed.json
[{"id":"5959882f.9fecf","type":"OpcUa-Client","z":"f84e38e3.25e75","endpoint":"fd415bb9.a02a38","action":"read","time":10,"timeUnit":"s","name":"OPC Read","x":543,"y":303,"wires":[["3b628b71.3e5604"]]},{"id":"b7be6257.b11f18","type":"inject","z":"f84e38e3.25e75","name":"Poll Data","topic":"ns=2;s=Painting.Oven.Temperature;datatype=Float","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":319,"y":301,"wires":[["5959882f.9fecf"]]},{"id":"1cc2135d.c1b6bd","type":"change","z":"f84e38e3.25e75","name":"Asset/1622_Holroyd_MES/ItemIdentifierRead","rules":[{"t":"set","p":"payload","pt":"msg","to":"Asset/1622_Holroyd_MES/ItemIdentifierRead","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["799bec21.b5d8ec","1baaca5d.0e7d0e"]]},{"id":"3b628b71.3e5604","type":"switch","z":"f84e38e3.25e75","name":"Filter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":719,"y":302,"wires":[["1cc2135d.c1b6bd"]]},{"id":"799bec21.b5d8ec","type":"mqtt out","z":"f84e38e3.25e75","name":"","topic":"Asset/1622_Holroyd_MES/ItemIdentifierRead","qos":"","retain":"","broker":"2a042885.06bc3","x":1181,"y":476,"wires":[]},{"id":"1baaca5d.0e7d0e","type":"debug","z":"f84e38e3.25e75","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1217,"y":102,"wires":[]},{"id":"b8ebb2f0.6ea33","type":"inject","z":"f84e38e3.25e75","name":"OPC inject","topic":"ns=2;s=Painting.Oven.BLAH;datatype=Float","payload":"SJSK","payloadType":"str","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":331,"y":507,"wires":[["e06441e4.14a4f"]]},{"id":"e06441e4.14a4f","type":"OpcUa-Client","z":"f84e38e3.25e75","endpoint":"b448f6f6.0a46c","action":"write","time":10,"timeUnit":"s","name":"OPC Write","x":563,"y":539,"wires":[[]]},{"id":"fd415bb9.a02a38","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:49320/KEPServerEX","secpol":"None","secmode":"NONE","login":false},{"id":"2a042885.06bc3","type":"mqtt-broker","z":"","name":"MQTT Output","broker":"mb13.iotfm.org","port":"1883","clientid":"CNC10","usetls":false,"compatmode":true,"keepalive":"120","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b448f6f6.0a46c","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://127.0.0.1:49320/KEPServerEX","secpol":"None","secmode":"NONE","login":false}]
